.acciones-column span {
  font-size: 11px;
}
.acciones-column button {
  padding: 3px 8px 3px 8px;
}
td.acciones-column {
  text-align: center !important;
}
tr.pagado {
  background-color: #caffc6;
}
