.login-logo {
  min-height: 200px;
  max-width: 276px;
  background-size: 90%;
  background-position: 50% 50%;
  background-image: url("/assets/images/uia_logo.png");
  background-repeat: no-repeat;
}
.login-container {
  background-color: #6b93b3;
  position: absolute;
  width: 100%;
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}
.login-upper-box {
  background-color: #fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  width: 100%;
}
.login-bottom-box {
  background-color: #e5e5ee;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 20px;
}
.login-box {
  margin: 0 auto;
}
.btn-google-plus {
  color: #fff;
  background-color: #dd4b39;
  border-color: #c53727;
}
.btn-github {
  color: #fff;
  background-color: #fafafa;
  border-color: #ccc;
}
