//div(ng-include='"components/navbar/navbar.html"')
.container.login-container
  .login-box
    .login-upper-box
      .login-logo
    .login-bottom-box
      form.form(name='form', ng-submit='login(form)', novalidate='')
        .form-group
          label Email
          input.form-control(type='text', name='email', ng-model='user.email')
        .form-group
          label Contraseña
          input.form-control(type='password', name='password', ng-model='user.password')

        .form-group.has-error
          p.help-block(ng-show='form.email.$error.required && form.password.$error.required && submitted')
            | Por favor ingrese su email y contraseña.
          p.help-block {{ errors.other }}

        div
          button.btn.btn-primary.btn-inverse.btn-lg.btn-login(type='submit')
            | Ingresar
        = ' '
          //a.btn.btn-default.btn-lg.btn-register(href='/signup')
          //  | Registrarse
        //
        //hr
        //
        //div
        //  a.btn.btn-google-plus(href='', ng-click='loginOauth("google")')
        //    i.fa.fa-google-plus
        //    | Connect with Google+
        //= ' '
