
vertical-center() {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.login-logo{
  min-height 200px
  max-width 276px
  background-size 90%
  background-position 50% 50%
  background-image url('/assets/images/uia_logo.png')
  background-repeat no-repeat
  no-margin()
}

.login-container {
  background-color #6b93b3
  position absolute
  width 100%
  vertical-center()
}

no-margin(){
  margin: 0 auto;
}

border-radius-size = 4px

.login-upper-box {
  background-color #ffffff
  border-top-left-radius border-radius-size
  border-top-right-radius border-radius-size
  width 100%
}

.login-bottom-box {
  background-color #E5E5EE
  border-bottom-left-radius border-radius-size
  border-bottom-right-radius border-radius-size
  padding 20px
}

.login-box {
  no-margin()
}

.btn-google-plus
  color: #fff;
  background-color: #dd4b39;
  border-color: #c53727;

.btn-github
  color: #fff;
  background-color: #fafafa;
  border-color: #ccc;
