<div class="col-md-12"><div class="well well-lg">En próximas versiones se podrán seleccionar las empresas habilitadas
desde esta sección, a partir de las empresas registradas en la sección global.</div></div>