.col-md-12
  .well.well-lg
    |En próximas versiones se podrán seleccionar las categorías habilitadas
    | desde esta sección, a partir de las categorías registradas en la sección global.

form
  input.form-control(type='text', ng-model='categoriaSeleccionada', typeahead='cat as cat.nombre for cat in categoriasGlobales | filter:$viewValue | limitTo:8')
  .btn.btn-primary.disabled(ng-click='agregarCategoria()') Habilitar Categoría
.row
  .list-group-item.row.editable-list.col-md-2(ng-repeat='categoria in evento.categoriasHabilitadas')
    strong {{categoria.nombre}}
    br
    span.text-muted {{categoria.detalle}}
