.modal-header
  h4.modal-title Evento
  .modal-body
    form.form(name='form', ng-submit='done(form)', novalidate='')
      .form-group
        label Nombre
        input.form-control(type='text', ng-model='data.nombre', name='nombre', is-open='opened', show-button-bar='false')
        p.help-block(ng-show='form.nombre.$error.mongoose') {{ errors.nombre }}
      .form-group
        label Capacidad
        input.form-control(type='number', ng-model='data.capacidad', name='capacidad',is-open='opened', show-button-bar='false')
        p.help-block(ng-show='form.capacidad.$error.mongoose') {{ errors.capacidad }}
      .form-group
        label Fecha
        input.form-control(type='text', datepicker-popup='dd/MM/yyyy', ng-model='data.fecha', name='fecha', is-open='opened', min-date='minDate', ng-required='true', close-text='Close')
        span.input-group-btn
          button.btn.btn-default(type='button', ng-click='open($event)')
            i.glyphicon.glyphicon-calendar
        p.help-block(ng-show='form.fecha.$error.mongoose') {{ errors.fecha }}
      .form-group
        label Descripción
        textarea.form-control(type='text', ng-model='data.descripcion', name='descripcion', is-open='opened', show-button-bar='false')
        p.help-block(ng-show='form.descripcion.$error.mongoose') {{ errors.descripcion }}

      .modal-footer
        button.btn.btn-default(type='submit') Guardar
