.modal-header
  h4.modal-title Categoría
  .modal-body
    form.form(name='form', ng-submit='done(form)', novalidate='')
      .row
        .form-group.col-md-6
          label Nombre
          input.form-control(type='text', ng-model='data.nombre', name='nombre', is-open='opened', show-button-bar='false')
          p.help-block(ng-show='form.nombre.$error.mongoose') {{ errors.nombre }}
        .form-group.col-md-6
          label Lugares
          input.form-control(type='number', ng-model='data.lugares', name='lugares',is-open='opened', show-button-bar='false')
          p.help-block(ng-show='form.lugares.$error.mongoose') {{ errors.lugares }}
      .row
        .form-group.col-md-12
          label Detalle
          textarea.form-control(type='text', ng-model='data.detalle', name='detalle', is-open='opened', show-button-bar='false')
          p.help-block(ng-show='form.detalle.$error.mongoose') {{ errors.detalle }}
      .row
        .form-group.col-md-6
          label Es paga
          br
          //bs-switch.form-control(type='checkbox',ng-model='data.esPaga', name='esPaga',switch-on-text='Sí',switch-off-text='No',switch-off-color='danger',switch-on-color='primary')
          input(type="checkbox", ng-model='data.esPaga')
          p.help-block(ng-show='form.esPaga.$error.mongoose') {{ errors.esPaga }}
        .form-group.col-md-6(ng-show='data.esPaga')
          label Costo
          input.form-control(ng-model='data.costo', name='costo',is-open='opened', money,show-button-bar='false')
          p.help-block(ng-show='form.costo.$error.mongoose') {{ errors.costo }}
      .form-group
        label Validar empresa
        br
        //bs-switch.form-control(type='checkbox',ng-model='data.validarEmpresa',name='validarEmpresa',switch-on-text='Sí',switch-off-text='No',switch-off-color='danger',switch-on-color='primary')
        input(type="checkbox", ng-model='data.validarEmpresa')
        p.help-block(ng-show='form.validarEmpresa.$error.mongoose') {{ errors.validarEmpresa }}
      .row
        .form-group.col-md-4
          label Mensaje de inscripción exitosa
          textarea.form-control(type='text', ng-model='data.mensajeExitoso', name='mensajeExitoso', is-open='opened', show-button-bar='false')
          p.help-block(ng-show='form.mensajeExitoso.$error.mongoose') {{ errors.mensajeExitoso }}
        .form-group.col-md-4(ng-show='data.validarEmpresa')
          label Mensaje de error por falta de lugares
          textarea.form-control(type='text', ng-model='data.mensajeEmpresaInvalida', name='mensajeEmpresaInvalida', is-open='opened', show-button-bar='false')
          p.help-block(ng-show='form.mensajeEmpresaInvalida.$error.mongoose') {{ errors.mensajeEmpresaInvalida }}
        .form-group.col-md-4
          label Mensaje de validación pendiente
          textarea.form-control(type='text', ng-model='data.mensajeFaltaValidarEmpresa', name='mensajeFaltaValidarEmpresa', is-open='opened', show-button-bar='false')
          p.help-block(ng-show='form.mensajeFaltaValidarEmpresa.$error.mongoose') {{ errors.mensajeFaltaValidarEmpresa }}

      .modal-footer
          button.btn.btn-default(type='submit') Guardar
