.formulario-inscripcion.col-md-6
  h3 Inscripción {{evento.nombre}}
  .alert.alert-success(ng-show='inscripcion.exitosa', ng-bind-html='mensajeDeExito')
  form.form(name='form', ng-submit='done(form)', ng-hide='inscripcion.exitosa')
    .row
      .alert.alert-danger.col-md-12(ng-show='form.empresa.$error.mongoose') {{ errors.empresa }}
    .row
      .form-group.col-md-6
        label Nombre
        input.form-control(required,type='text', ng-model='inscripto.nombre', name='nombre', is-open='opened', show-button-bar='false')
        p.help-block(ng-show='form.nombre.$error.mongoose') {{ errors.nombre }}
      .form-group.col-md-6
        label Apellido
        input.form-control(required,type='text', ng-model='inscripto.apellido', name='apellido', is-open='opened', show-button-bar='false')
        p.help-block(ng-show='form.apellido.$error.mongoose') {{ errors.apellido }}
    .row
      .form-group.col-md-6
        label Dni
        input.form-control(required,type='text', ng-model='inscripto.dni', name='dni', is-open='opened', show-button-bar='false')
        p.help-block(ng-show='form.dni.$error.mongoose') {{ errors.dni }}
      .form-group.col-md-6
        label Cargo
        input.form-control(required,type='text', ng-model='inscripto.cargo', name='cargo', is-open='opened', show-button-bar='false')
        p.help-block(ng-show='form.cargo.$error.mongoose') {{ errors.cargo }}
    .row
      .form-group.col-md-6
        label Cuit
        input.form-control(required,type='text', ng-model='inscripto.cuit', name='cuit', is-open='opened', show-button-bar='false')
        p.help-block(ng-show='form.cuit.$error.mongoose') {{ errors.cuit }}
      .form-group.col-md-6
        label Teléfono
        input.form-control(required,type='text', ng-model='inscripto.telefono', name='telefono', is-open='opened', show-button-bar='false')
        p.help-block(ng-show='form.telefono.$error.mongoose') {{ errors.telefono }}
    .form-group
      label e-Mail
      input.form-control(required,type='text', ng-model='inscripto.email', name='email', is-open='opened', show-button-bar='false')
      p.help-block(ng-show='form.email.$error.mongoose') {{ errors.email }}
    .form-group
      label Categoría {{inscripto.categoria.detalle}}
      select.form-control(required, ng-model='inscripto.categoria', ng-options='categoria.nombre for categoria in categorias', name='categoria')
      p.help-block(ng-show='form.categoria.$error.mongoose') {{ errors.categoria }}
      span(ng-show="form.categoria.$error.required") Por favor seleccione una categoría
    .form-group(ng-show='inscripto.categoria.validarEmpresa')
      label Empresa
      select.form-control(required,ng-model='inscripto.empresa', ng-options='empresa.nombre for empresa in empresas',name='empresa')
      p.help-block(ng-show='form.empresa.$error.mongoose') {{ errors.empresa }}
      span(ng-show="form.empresa.$error.required") Por favor seleccione una empresa

    br
    button.btn.btn-default(type='submit') Guardar
