.thing-form
    margin 20px 0

#banner
    border-bottom none
    margin-top -20px

#banner h1
    font-size 60px
    letter-spacing -1px
    line-height 1

.hero-unit
    background #4393B9
    color #F5F5F5
    padding 30px 15px
    position relative
    text-align center
    text-shadow 0 1px 0 rgba(0, 0, 0, 0.1)

.footer
    border-top 1px solid #E5E5E5
    margin-top 70px
    padding 30px 0
    text-align center

snap-content
  background-color #f8f8f8
  height 100%

snap-drawer
  background-color #444444

snap-drawer
  width 200px !important

.footer
  position absolute
  bottom 0
  width 100%
  height 60px
  background-color #f5f5f5

.navbar-toggle
  display block

.drawer-header
  width 100%
  background-color #ffffff
  padding 3px

.drawer-logo
  height 100px
  width  100%
  background-size 80%
  background-position: 50% 50%;
  background-image url('/assets/images/uia_logo.png')
  background-repeat no-repeat

.drawer-menu
  list-style-type none
  margin 0 0 0 0 !important
  padding 0 0 0 0 !important

.drawer-menu li a span
  font-size 16px
  text-align start
  color #ffffff

.drawer-menu li a i
  margin-right: 10px
  width: 20px
  color: #ffffff
  display: inline-block
  text-align: center

.drawer-menu li a
  width 100%
  text-align left

.drawer-menu-item-active
  background-color #2C2C2C
