snap-drawer
  .drawer-header
    .drawer-logo
  ul.drawer-menu
    li
      a.btn(ui-sref='main.listable.eventos', ui-sref-active='drawer-menu-item-active')
        i.glyphicon.glyphicon-calendar
        span Eventos
    li
      a.btn(ui-sref='main.listable.empresas', ui-sref-active='drawer-menu-item-active')
        i.glyphicon.glyphicon-briefcase
        span Empresas
    li
      a.btn(ui-sref='main.listable.inscriptos', ui-sref-active='drawer-menu-item-active')
        i.glyphicon.glyphicon-user
        span Inscriptos
    li
      a.btn(ui-sref='main.listable.categorias', ui-sref-active='drawer-menu-item-active')
        i.glyphicon.glyphicon-tags
        span Categorías

snap-content
  ui-view
  //.footer
  //  .container
  //    p
  //      | UIA Eventos 2014 | by
  //      a(href='mailto:alvarez.ariel.work@gmail.com') Ariel Avarez
