nav.navbar.navbar-default(role='navigation')
  .container-fluid
    .navbar-header
      button.navbar-toggle(type='button', snap-toggle='' , data-target='#editable-list-navbar')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    #editable-list-navbar
      ul.nav.navbar-nav
        li
          a.editable-list-title(href='#', ng-bind-html='evento.nombre')
        li(ui-sref-active='active')
          a(ui-sref='main.listable.inscriptos({id:evento._id})') Inscriptos
        li(ui-sref-active='active')
          a(ui-sref='main.evento.empresasHabilitadas({id:evento._id})') Empresas Habilitadas
        li(ui-sref-active='active')
          a(ui-sref='main.evento.categoriasHabilitadas({id:evento._id})') Categorías Habilitadas
ui-view
