nav.navbar.navbar-default(role='navigation')
  .container-fluid
    //
       Brand and toggle get grouped for better mobile display
    .navbar-header
      button.navbar-toggle(type='button', snap-toggle='' , data-target='#editable-list-navbar')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    #editable-list-navbar
      ul.nav.navbar-nav
        li
          a.editable-list-title(href='#') {{entityName}}
      form.navbar-form.navbar-left(role='search')
        .form-group
          input.form-control(type='text', ng-model='filtradoEntidades',placeholder='Filtrar')
      form.navbar-form.navbar-right
        .btn.btn-primary(ng-click='saveEntity({})') Registrar {{entityName}}
ui-view

