.col-md-12
  table.table(ng-table='tableParams', export-csv="csv")
    tr(ng-repeat='empresa in $data')
      td(data-title='\'Nombre\'', data-sortable='\'nombre\'')
        span(ng-if='!empresa.$edit') {{empresa.nombre}}
      td(data-title='\'CUIT\'',data-sortable='\'cuit\'')
        span(ng-if='!empresa.$edit') {{empresa.cuit}}
      td.acciones-column(data-title='\'Acciones\'', width='120')
        button.btn.btn-primary(ng-click='updateEntity(empresa)', type='button')
          span.glyphicon.glyphicon-pencil
        button.btn.btn-danger(ng-click='delete(empresa)', type='button', style="margin-left:10px")
          span.glyphicon.glyphicon-trash

  form.navbar-form.navbar-right
    a.btn.btn-primary(ng-mousedown="csv.generate()", ng-href="{{ csv.link() }}", download="{{entityName}}_{{today}}.csv") Exportar {{entityName}}

script( type="text/ng-template", id="edit_empresa.html")
  .modal-header
    h4.modal-title Empresa
    .modal-body
      form.form(name='form', ng-submit='done(form)', novalidate='')
        .form-group
          label Nombre
          input.form-control(type='text', ng-model='data.nombre', name='nombre', is-open='opened', show-button-bar='false')
          p.help-block(ng-show='form.nombre.$error.mongoose') {{ errors.nombre }}
        .form-group
          label Cuit
          input.form-control(type='number', ng-model='data.cuit', name='cuit',is-open='opened', show-button-bar='false')
          p.help-block(ng-show='form.cuit.$error.mongoose') {{ errors.cuit }}
        .form-group
          label Web
          input.form-control(type='text', ng-model='data.web', name='web',is-open='opened', show-button-bar='false')
          p.help-block(ng-show='form.web.$error.mongoose') {{ errors.web }}
        .form-group
          label Logo
          input.form-control(type='text', ng-model='data.logo', name='logo', is-open='opened', show-button-bar='false')
          p.help-block(ng-show='form.logo.$error.mongoose') {{ errors.logo }}
        .form-group
          label Comentarios
          textarea.form-control(type='text', ng-model='data.comentarios', name='comentarios', is-open='opened', show-button-bar='false')
          p.help-block(ng-show='form.comentarios.$error.mongoose') {{ errors.comentarios }}
        .form-group
          label Categorías ({{_.reduce(seleccionada.categorias, acumAsientos,0)}} asientos)
          select.form-control(required, ng-change='addCategoria($index)', ng-model='seleccionada.categoria', ng-options='categoria.nombre for categoria in categorias',name='categoria')
          p.help-block(ng-show='form.categoria.$error.mongoose') {{ errors.categoria }}
          h5 Esta lista determina la cantidad de asientos habilitados para una empresa
          alert(ng-repeat='categoria in seleccionada.categorias track by $index', type='success', close='removeCategoria($index)') {{categoria.nombre}}
        .modal-footer
          button.btn.btn-default(type='submit') Guardar
